@model tblIntentions

@{
    ViewBag.Title = "Nueva intención";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HelpMethods HM = new HelpMethods();

    string IntentionDate = HM.GetDateTime().ToShortDateString();
    string ApplicationDate = HM.GetDateTime().ToShortDateString();
    TimeSpan ScheduleID = HM.GetDateTime().TimeOfDay;

    var ExchangeType = new ExchangeTypes();

}

@using (Html.BeginForm("Create", "Intentions", FormMethod.Post, new { id = "IntentionCreateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header card-header-green">
            <h2>
                @ViewBag.Title
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" style="display:none">
                    @Html.Label("Folio depósito de cenizas", htmlAttributes: new { @class = "control-label just-int" })
                    <input type="text" class="form-control just-int" id="AshDepositID" placeholder="Buscar">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="display:none">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.IntentionTypeID, htmlAttributes: new { @class = "control-label" })*
                    @Html.DropDownListFor(model => model.IntentionTypeID, new SelectList(ViewBag.IntentionTypes, "IntentionTypeID", "Name", "Seleccionar opción"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IntentionTypeID)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.ApplicationDate, new { @class = "form-control datepicker", @Value = ApplicationDate })
                    @Html.ValidationMessageFor(model => model.ApplicationDate)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.IntentionDate, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.IntentionDate, new { @class = "form-control datepicker", @Value = IntentionDate })
                    @Html.ValidationMessageFor(model => model.IntentionDate)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.ScheduleID, htmlAttributes: new { @class = "control-label" })*
                    @*<input type="time" class="form-control" id="ScheduleID" name="ScheduleID" value="@ScheduleID">*@
                    <select class="form-control" id="ScheduleID" name="ScheduleID">
                        <option value="">Seleccione</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.ScheduleID)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.MentionPerson, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.MentionPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MentionPerson)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Applicant, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.Applicant, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Applicant)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control phone" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Donation, htmlAttributes: new { @class = "control-label" })*
                    @Html.TextBoxFor(model => model.Donation, new { @class = "form-control just-decimal" })
                    @Html.ValidationMessageFor(model => model.Donation)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.ExchangeType, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(x => ExchangeType, "Seleccionar opción", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExchangeType)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:15px;">
            <div class="col-md-2 col-sm-2 col-xs-6">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary", @style = "width:100%;" })
            </div>
            <div class="offset-md-8 col-md-2 col-sm-2 col-xs-6">
                <input type="submit" value="Guardar" class="btn btn-success" style="float:right;width:100%;" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            $(".datepicker").datepicker();
        });

        $("#IntentionDate").change(function () {
            $("#ScheduleID").html("");
            $.ajax({
                    url: '@Url.Action("getHourByDay", "Intentions")',
                    dataType: "json",
                    data: ({
                        'Date': $("#IntentionDate").val(),
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data != null) {
                            var options = '<option value="">Seleccione</option>';
                            for (var i = 0; i < data.length; i++) {
                                options += '<option value="' + data[i].ScheduleID + '">' + data[i].Hour+'</option>';
                            }

                            $("#ScheduleID").html(options);
                         }
                    },
                    error: function (error) {
                        alert(error);
                    }
                })
        })

        $('#AshDepositID').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetMentionPersonByAshDepositID")',
                    dataType: "json",
                    data: { term: $('#AshDepositID').val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.AshDepositID, value: item.FullName };
                        }));
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            },
            select: function (event, ui) {
                $("#MentionPerson").val(ui.item.value);
                $("#AshDepositID").val(ui.item.label);
                return false;
            }
        });
    </script>
}
