@model tblAshDeposits
<link href="~/Content/timepicker.css" rel="stylesheet" />
@{
    ViewBag.Title = "Solicitud de deposito de cenizas No." + Model.AshDepositID;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vCryptPosition = ViewBag.CryptPosition;
    var vCryptSectionId = ViewBag.CryptSectionId;
    var vPrice = ViewBag.Price;
    var vPaymentMethod = ViewBag.PaymentMethod;
    var vEnganche = ViewBag.Enganche;
    var vMensualidades = ViewBag.Mensualidades;
    var vCryptSection = ViewBag.CryptSection as tblCryptsSections;
}

<div class="card">
    <div class="card-header card-header-green">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Edit", "AshDeposits", FormMethod.Post, new { id = "FormatCreateForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.PurchasesRequestAshDepositID)
            @Html.HiddenFor(model => model.AshDepositID)
            @Html.HiddenFor(model => model.PurchasesRequestID)
            @Html.HiddenFor(model => model.CustomerID)
            @Html.HiddenFor(model => model.ContractID)
            @Html.HiddenFor(model => model.Nicho)
            @Html.HiddenFor(model => model.Level)
            @Html.HiddenFor(model => model.Age)
            @Html.HiddenFor(model => model.Level)
            @Html.HiddenFor(model => model.AshDepositDate)
            @Html.HiddenFor(model => model.Ticket)
            @Html.HiddenFor(model => model.DeathCertificate)
            @Html.HiddenFor(model => model.CremationCertificate)

            <input type="hidden" name="CreatedDate" id="CreatedDate" value="@Model.CreatedDate" />
            <input type="hidden" name="UpdatedDate" id="UpdatedDate" value="@Model.UpdatedDate" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="@Model.CreatedBy" />
            <input type="hidden" name="UpdatedBy" id="UpdatedBy" value="@Model.UpdatedBy" />
            <input type="hidden" name="Active" id="Active" value="True" />
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" style="background-color: white">
                        <tr>
                            <td>F. SOLICITUD</td>
                            <td>Fecha</td>
                            <td>Hora</td>
                            <td colspan="2">Recibo de pago</td>
                            <td colspan="2">Acta de defunción</td>
                            <td colspan="2">Permiso de cremación</td>
                        </tr>
                        <tr>
                            <td>@Model.CreatedDate.ToShortDateString()</td>
                            <td><input type="text" class="form-control field-required datepicker" name="Date" id="Date" value="@Model.Date.ToShortDateString()" /></td>
                            <td><input type="text" class="form-control field-required time 12-hours-timepicker" name="Hour" id="Hour" value="@(!String.IsNullOrEmpty(Model.Hour)?Model.Hour:Model.Date.ToShortTimeString())" /></td>
                            <td>
                                @Html.TextBox("FileTicket", Model.Ticket, new { @class = "form-control", @Type = "file" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-show-picture btn-sm" style="width:60px" img="@Model.Ticket">ver</button>
                            </td>
                            <td>
                                @Html.TextBox("FileDeathCertificate", Model.DeathCertificate, new { @class = "form-control", @Type = "file" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-show-picture btn-sm" style="width: 60px" img="@Model.DeathCertificate">ver</button>
                            </td>
                            <td>
                                @Html.TextBox("FileCremationCertificate", Model.CremationCertificate, new { @class = "form-control", @Type = "file" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-show-picture btn-sm" style="width: 60px" img="@Model.CremationCertificate">ver</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" style="background-color: white;margin-bottom: 0px;">
                        <tr><td style="text-align:center" colspan="3"><strong>DATOS DEL FINADO</strong></td></tr>
                        <tr>
                            <td>Nombre</td>
                            <td>Apellido paterno</td>
                            <td>Apellido materno</td>
                        </tr>
                        <tr class="tr-new-customer" style="">
                            <td><input type="text" class="form-control field-required" id="Name" name="Name" value="@Model.Name" /></td>
                            <td><input type="text" class="form-control field-required" id="PSurname" name="PSurname" value="@Model.PSurname" /></td>
                            <td><input type="text" class="form-control field-required" id="MSurname" name="MSurname" value="@Model.MSurname" /></td>
                        </tr>
                        <tr>
                            <td>Fecha de nacimiento</td>
                            <td>Fecha de defunción</td>
                            <td>Fecha de deposito</td>
                        </tr>
                        <tr class="tr-new-customer" style="">
                            <td><input type="text" class="form-control field-required datepicker" id="BirthDate" name="BirthDate" value="@Model.BirthDate.ToShortDateString()" /></td>
                            <td><input type="text" class="form-control field-required datepicker" id="DeathDate" name="DeathDate" value="@Model.DeathDate.ToShortDateString()" /></td>
                            <td><input type="text" class="form-control field-required" id="AshDepositDate" name="AshDepositDate" disabled="true" value="@Model.AshDepositDate.ToShortDateString()" /></td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td>Religión</td>
                            <td></td>
                        </tr>
                        <tr class="tr-new-customer" style="">
                            <td><label class="age">@Model.Age</label></td>
                            <td><input type="text" class="form-control field-required" id="Religion" name="Religion" value="@Model.Religion" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sacramentos de iniciación</td>
                            <td>Situacion marital</td>
                            <td>Causa de muerte</td>
                        </tr>
                        <tr class="tr-new-customer" style="">
                            <td><input type="text" class="form-control field-required" id="Sacrament" name="Sacrament" value="@Model.Sacrament" /></td>
                            <td>
                                <select class="form-control field-required" id="CivilStatus" name="CivilStatus">
                                    <option value="">Seleccione</option>
                                    <option value="Iglesia">Iglesia</option>
                                    <option value="Civil">Civil</option>
                                    <option value="Soltero">Soltero</option>
                                    <option value="Union libre">Union libre</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control field-required" id="DeathCause" name="DeathCause" value="@Model.DeathCause" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" style="background-color: white;margin-bottom: 0px;">
                        <tr><td style="text-align:center" colspan="5"><strong>DATOS DEL NICHO</strong></td></tr>
                        <tr>
                            <td colspan="2">Titular</td>
                            <td colspan="2">Solicitó</td>
                            <td>Teléfono</td>
                        </tr>
                        <tr>
                            <td><input type="radio" value="Titular" class="typetitular" name="TypeTitular" id="TypeTitular1"></td>
                            <td><label class="lbl-titular">@Model.Customer</label></td>
                            <td><input type="radio" value="Solicitó" class="typetitular" name="TypeTitular" id="TypeTitular2"></td>
                            <td><input type="text" class="form-control" id="Applicant" name="Applicant" value="@Model.Applicant" /></td>
                            <td><input type="text" class="form-control phone field-required" id="Phone" name="Phone" value="@Model.Phone" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">Nicho adquirido</td>
                            <td colspan="2">Nicho provicional</td>
                            <td>Nivel</td>
                        </tr>
                        <tr class="tr-new-customer" style="">
                            <td colspan="2">@Model.Nicho</td>
                            <td colspan="2"><input type="text" class="form-control" id="ProvicionalNicho" name="ProvicionalNicho" value="@Model.ProvicionalNicho" /></td>
                            <td>@Model.Level</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" style="background-color: white;margin-bottom: 0px;">
                        <tr><td style="text-align:center" colspan="5"><strong>DATOS DE LA MISA</strong></td></tr>
                        <tr>
                            <td>
                                <div class="cold-md-12">
                                    <div class="col-md-4 offset-2" style="float:left">
                                        <input type="text" class="form-control datepicker field-required" id="MisaDate" name="MisaDate" value="@Model.MisaDate.ToShortDateString()" />
                                    </div>
                                    <div class="col-md-1" style="float:left">
                                        A LAS
                                    </div>
                                    <div class="col-md-2" style="float:left">
                                        <input type="text" class="form-control 12-hours-timepicker field-required" id="MisaHour" name="MisaHour" value="@Model.MisaHour" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" style="background-color: white;margin-bottom: 0px;">
                        <tr><td style="text-align:left"><strong>Esposa</strong></td></tr>
                        <tr>
                            <td>
                                <div class="cold-md-12">
                                    <input type="text" class="form-control " id="Wife" name="Wife" value="@Model.Wife" />

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            string[] ASons = Model.Sons != null ? Model.Sons.Split(',') : new string[1];

            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <table class="table table-bordered" id="TableSons" style="background-color: white;margin-bottom: 0px;">
                        <tr>
                            <td style="text-align:left">
                                <strong>Hijos</strong>
                            </td>
                            <td style="text-align:center">
                                <button class="btn btn-success " id="BtnAddSons" type="button" style="min-width:40px">+</button>
                            </td>
                        </tr>
                        @foreach (var item in ASons)
                        {
                            <tr>
                                <td>
                                    <input class="form-control input-son" name="ASon" value="@item" type="text" />
                                </td>
                                <td style="text-align:center">
                                    <button class="btn btn-danger btn-remove-son" style="min-width:40px" type="button">-</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="col-md-2 col-sm-2 col-xs-6">
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary", @style = "width:100%;" })
                </div>
                @*<div class="offset-md-6 col-md-2 col-sm-2 col-xs-6">
                        @Html.ActionLink("PDF", "PDF", null, htmlAttributes: new { @class = "btn btn-success", @style = "width:100%;" })
                    </div>*@
                <div class="offset-md-8 col-md-2 col-sm-2 col-xs-6">
                    <input type="button" value="Guardar" id="btnSave" class="btn btn-success" style="float:right;width:100%;" />
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="modalPicture" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close btn" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img id="imgPic" src="" style="max-width:100%;max-height:100%" />
                <embed id="pdfPIC" src="files/Brochure.pdf" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-primary link-download" href="" target="_blank">Descargar</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script src="~/Scripts/timepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#CivilStatus option[value="@Model.CivilStatus"]').attr("selected", true);
        });
                $("#BtnAddSons").click(function () {
                    var AddRow = true;
                    $(".input-son").each(function (idx) {
                        if ($(this).val().length == 0)
                            AddRow = false;
                    });

                    if (AddRow) {
                        $("#TableSons").append(' <tr><td><input class="form-control input-son" name="ASon" value="" type="text"/></td><td  style="text-align:center"><button class="btn btn-danger btn-remove-son" style="min-width:40px" type="button">-</button></td></tr>');
                    }
                    else
                        AlertMessage("Debe llenar todos los campos");
                })

                $(document).on("click", ".btn-remove-son", function () {
                    $(this).parent().parent().remove();
                })
                $('#BirthDate').on('change', calcularEdad);

                function calcularEdad() {
                    var cumpleanos = new Date($(this).val());
                    var fechaMuerte = new Date($('#DeathDate').val());
                    var edad = fechaMuerte.getFullYear() - cumpleanos.getFullYear();
                    var m = fechaMuerte.getMonth() - cumpleanos.getMonth();

                    if (m < 0 || (m === 0 && fechaMuerte.getDate() < cumpleanos.getDate())) {
                        edad--;
                    }
                    $('.age').text(edad);
                    $('#Age').val(edad);
                }

        $('#CivilStatus option[value="@Model.CivilStatus"]').attr("selected", true);
        if ('@Model.Applicant' == '' || '@Model.Applicant' == 'null' ) {
            $("#Applicant").val("").attr("disabled", "disabled");
            $("#TypeTitular1").prop("checked", true);
        } else {
            $("#TypeTitular2").prop("checked", true);
        }

        $(".typetitular").click(function () {
            if ($(this).attr("id") == "TypeTitular1") {
                $("#Applicant").val("").attr("disabled", "disabled");
            } else if ($(this).attr("id") == "TypeTitular2") {
                $("#Applicant").removeAttr("disabled");
            }
        });
        $(".12-hours-timepicker").timepicker({
            use12HourClock: true,
            timeFormat: "%h:%i %a",
            minTime: "13:15",
            maxTime: "12:59"
        });
        $("#btnSave").click(function () {
            var vSubmit = true;
            $(".field-required").each(function (idx) {
                if ($(this).val().length == 0) {
                    vSubmit = false;
                }
            })
            if (vSubmit)
                $("#FormatCreateForm").submit();
            else
                AlertMessage("Llene todos los campos");
        })
        $('.phone').mask('(000)-0000000');
        //$('.time').mask('00:00');
        $(".time").change(function () {
            var arr = $(this).val().split(":");
            if (parseInt(arr[0]) > 23) {
                $(this).val("23:59");
            } else if (arr.length == 1) {
                $(this).val($(this).val() + ":00");
            }
            if (parseInt(arr[0]) < 10) {
                if (arr.length == 2)
                    $(this).val("0" + parseInt(arr[0]) + ":" + arr[1]);
                else
                    $(this).val("0" + parseInt(arr[0]) + ":00");
            }
        })
        $.datepicker.setDefaults($.datepicker.regional['es-MX']);
        $(".datepicker").datepicker();
        $(".btn-show-picture").click(function () {
            var aNameFile = $(this).attr("img").split('.');
            if (aNameFile.length > 0 && aNameFile[(aNameFile.length - 1)] == "pdf") {
                $("#pdfPIC").remove();
                $(".modal-body").append('<embed id = "pdfPIC" src = "files/Brochure.pdf" type = "application/pdf" width = "100%" height = "600px" />');
                $("#pdfPIC").show();
                $("#pdfPIC").attr("src", $(this).attr("img"));
                $("#imgPic").hide();
            } else {
                $("#imgPic").show();
                $("#imgPic").attr("src", $(this).attr("img"));
                $("#pdfPIC").hide();
            }
            $(".link-download").attr("href", $(this).attr("img"));
            $('#modalPicture').modal('show');
        });
    </script>
}
