@model tblPurchasesRequestsQuotation

@{
    ViewBag.Title = "Cliente prospecto";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vCryptSection = ViewBag.CryptSection as tblCryptsSections;
}

<div class="card">
    <div class="card-header card-header-green">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="card-body">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Cliente:
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.Customer)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.CelPhone):
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.CelPhone)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.Email):
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.Email)
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-md-12">
                <h5>Cotización</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Metodo de pago:
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.PaymentMethodName)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Clave de la cripta:
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.Nicho)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.Level):
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.Level)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Area:
                    </span>
                    <span class="label-detail label-design">
                        @vCryptSection.ClassificationName
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Zona:
                    </span>
                    <span class="label-detail label-design">
                        A
                    </span>
                </div>
            </div>

            @{
                var vSaldo = Model.CryptPrice - Model.Enganche;
            }
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.CryptPrice):
                    </span>
                    <span class="label-detail label-design">
                        @Html.DisplayFor(model => model.CryptPrice)
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Importe total:
                    </span>
                    <span class="label-detail label-design">
                        @Model.OriginalPrice.ToString("C2") DLLS.
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Tipo de descuento aplicado:
                    </span>
                    <span class="label-detail label-design">
                        @Model.DiscountDescription
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Descuento aplicado:
                    </span>
                    <span class="label-detail label-design">
                        @if (Model.PaymentMethodName == "Contado" || Model.PaymentMethodName == "Uso inmediato 50%")
                        {
                            @((Model.OriginalPrice-Model.CryptPrice).ToString("C2") + " DDLS. " + Model.DiscountDescription)
                        }
                        else
                        {
                            @((Model.OriginalPrice-Model.CryptPrice).ToString("C2") + " DDLS. ")
                        }
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Saldo:
                    </span>
                    <span class="label-detail label-design">
                        @Model.Enganche.ToString("C2") DLLS.
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        Pago inicial:
                    </span>
                    <span class="label-detail label-design">
                        @vSaldo.ToString("C2") DLLS.
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.CreatedBy):
                    </span>
                    <span class="label-detail label-design">
                        @ViewBag.CreatedBy
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.CreatedDate):
                    </span>
                    <span class="label-detail label-design">
                        @Model.CreatedDate
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.UpdatedBy):
                    </span>
                    <span class="label-detail label-design">
                        @ViewBag.UpdatedBy
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom:5px;">
                <div class="label-design">
                    <span class="label-detail-header label-designInside">
                        @Html.DisplayNameFor(model => model.UpdatedDate):
                    </span>
                    <span class="label-detail label-design">
                        @Model.UpdatedDate
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="col-md-2 col-sm-2 col-xs-12">
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary", @style = "width:100%;" })
        </div>
        <div class="offset-md-8 col-md-2 col-sm-2 col-xs-12">
            <input type="button" value="Adquirir" id="btnPurchase" class="btn btn-default" style="float:right;width:100%;" />
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.CryptKey)
@Html.HiddenFor(model => model.CryptSectionID)
@Html.HiddenFor(model => model.CryptType)

@section Scripts{
    <script>
        $("#btnPurchase").click(function () {
            $.ajax({
                url: '@Url.Action("PurchaseQuotation", "ProspectiveCustomer")',
                dataType: "json",
                data: ({
                    'CryptKey': $("#CryptKey").val(),
                    'CryptSectionID': $("#CryptSectionID").val(),
                    'CryptType': $("#CryptType").val(),
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        window.location = '@Url.Action("PurchaseRequest", "ProspectiveCustomer")/?id=@Model.PurchasesRequestQuotationID&Adquire=true'
                    }
                    else {
                        AlertMessage("La cripta fue adquirida por otro cliente.")
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    </script>
}