@model List<tblPayments>
@{
    ViewBag.Title = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Validate", "Payments", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
        </div>
    </div>
    <div id="PagosList">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr class="tableStyleHeader">
                    <th style="text-align: center">
                        <label style="color:white;">Validar</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Importe</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Clave cripta</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Mes</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Numero de pago</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Tipo de pago</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Tipo de cambio</label>
                    </th>
                    <th style="text-align: center">
                        <label style="color:white;">Ticket</label>
                    </th>
                </tr>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="9" style="text-align:center"><label>No se encontraron resultados</label></td>
                    </tr>
                }
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <tr class="tableStylerow">
                        <td style="text-align:center">
                            <input type="checkbox" class="check-box" name="LstPayments[@i].Validate" value="False" style="height:18px;width:18px" />
                            <input type="hidden" name="LstPayments[@i].PurchaseRequestPaymentID" value="@item.PurchaseRequestPaymentID" />
                            <input type="hidden" name="LstPayments[@i].PaymentID" value="@item.PaymentID" />
                        </td>
                        <td style="text-align:center">
                            @{
                                string currency = "";
                                if (item.Currency)
                                {
                                    currency = "MXN";
                                }
                                else
                                {
                                    currency = "USD";
                                }
                            }
                            @item.Amount.ToString("C2") @currency
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Nicho)
                        </td>
                        <td style="text-align:center">
                            @item.sPaymentDate
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.NumPayment)
                        </td>
                        <td style="text-align:center">
                            @if (item.IsInterest)
                            {
                                @:Interés
                            }
                            else
                            {
                                @:Pago
                            }
                        </td>
                        <td style="text-align:center">
                            @item.ExchangeRate.ToString("C2") MXN
                        </td>
                        <td style="text-align:center">
                            @*<a data-fancybox data-type="img" type="button" class="btn btn-success btn-ticket" href="@item.TicketUrl">
                                Ver
                            </a>*@
                           
                            <button type="button" class="btn btn-success btn-show-picture" img="@item.TicketUrl">Ver</button>
                            
                        </td>
                    </tr>
                    <tr class="tableStylerow" style="display:none">
                        <td colspan="2">
                            @Html.DropDownList("LstPayments[" + i + "].Estatus", new SelectList(ViewBag.ClientPaymentEnum, "Value", "Text"), "Seleccione", new { @class = "form-control" })
                        </td>
                        <td colspan="5">
                            <input type="file" name="LstPayments[@i].File" />
                        </td>
                    </tr>
                    i++;
                }
            </table>
        </div>
    </div>
    if (Model.Count != 0)
    {
        <div class="row" style="padding-top:15px;">
            <div class="offset-md-10 col-md-2 col-sm-2 col-xs-6">
                <input type="button" value="Guardar" id="btnSave" class="btn btn-success" style="float:right;width:100%;" />
            </div>
        </div>
    }
}

<div class="modal fade" id="modalPicture" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close btn" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img id="imgPic" src="" style="max-width:100%;max-height:100%" />
                <embed id="pdfPIC" src="" type="application/pdf" width="100%" height="600px" />
                <label id="SinArchivo" style="font-size:70px">No hay archivo</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">
        if ('@ViewBag.Save' == 1) {
            AlertMessage("¡Se guardaron los cambios!")
        }
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            $(".datepicker").datepicker();
        });
        $(".check-box").click(function () {
            if ($(this).prop("checked") == true) {
                $(this).val("True");
                $(this).parent().parent().next().show();
            } else {
                $(this).val("False");
                $(this).parent().parent().next().hide();
            }
        })
        $("#btnSave").click(function () {
            var submit = true;
            $(".check-box").each(function () {
                if ($(this).prop("checked") == true) {
                    if ($(this).parent().parent().next().children().eq(0).children().val().length == 0)
                        submit = false;
                    if ($(this).parent().parent().next().children().eq(1).children().val().length == 0)
                        submit = false;
                }
            })

            if (submit) {
                $("#Form").submit();
            } else {
                AlertMessage("Llene todos los campos");
            }
        })

        $(".btn-show-picture").click(function () {
            var billpath = $(this).attr("img");

            $.ajax({
                url: '@Url.Action("SearchArchivePayment", "Payments")',
                type: 'POST',
                dataType: 'json',
                data: ({ 'billpath': billpath }),
                success: function (data) {
                    if (data.respuesta == "") {
                        if (data.base64ImageRepresentation != "") {
                            $("#imgPic").show();
                            $("#imgPic").attr("src", data.base64ImageRepresentation);
                            $("#pdfPIC").hide();
                            $("#SinArchivo").hide();
                        }
                        else if (data.base64StringPDF != "") {
                            $("#pdfPIC").remove();
                            $(".modal-body").append('<embed id = "pdfPIC" src = "" type = "application/pdf" width = "100%" height = "600px" />');
                            $("#pdfPIC").attr("src", data.base64StringPDF);
                            $("#imgPic").hide();
                            $("#SinArchivo").hide();
                        }
                    }
                    else {
                        $("#pdfPIC").hide();
                        $("#imgPic").hide();
                        $("#SinArchivo").show();
                    }
                },
                error: function (error) {
                    swal('Ocurrio un error.', {
                        icon: "error",
                    });
                }
            });

            $('#modalPicture').modal('show');

        });
    </script>
}