@model List<tblPurchasesRequests>
@{
    ViewBag.Title = "Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
        </div>
    </div>
    <div id="SolicitudesList">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr class="tableStyleHeader">
                    <th>
                        <label style="color:white;">Solicitud</label>
                    </th>
                    <th>
                        <label style="color:white;">Cliente</label>
                    </th>
                    <th>
                        <label style="color:white;">Telefono</label>
                    </th>
                    <th>
                        <label style="color:white;">RFC</label>
                    </th>
                    <th>
                        <label style="color:white;">Forma de pago</label>
                    </th>
                    <th>
                        <label style="color:white;">Factura</label>
                    </th>
                    <th></th>
                </tr>

                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="9" style="text-align:center"><label>No se encontraron resultados</label></td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr class="tableStylerow">
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchasesRequestID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CelPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RFCCURP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod)
                        </td>
                        <td>
                            @if (item.BillingNumber != 0)
                            {
                                <button type="button" class="btn btn-info btn-xs btn-show-picture" img="@item.Billing">@item.BillingNumber</button>
                            }
                        </td>
                        <td align="center">
                            @if (item.BillingNumber == 0)
                            {
                                @Html.ActionLink("Facturar", "Factura", new { id = item.PurchasesRequestID }, new { @class = "" })
                            }
                            else
                            {
                                <label class="label-design label-info">Facturado</label>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row" style="padding-top:15px;">
        <div class="col-md-2 col-sm-2 col-xs-6">
            @Html.ActionLink("Volver", "Solicitudes", null, new { @class = "btn btn-primary", @style = "width:100%;" })
        </div>
    </div>


<div class="modal fade" id="modalPicture" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close btn" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img id="imgPic" src="" style="max-width:100%;max-height:100%" />
                @*<embed id="pdfPIC" src="files/Brochure.pdf" type="application/pdf" width="100%" height="600px" />*@
                <embed id="pdfPIC" src="" type="application/pdf" width="100%" height="600px" />
                <label id="SinArchivo" style="font-size:70px">No hay archivo</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<a class="btn btn-primary link-download" href="" target="_blank">Descargar</a>*@
                @*<a id="downloadID" href="@Url.Action("Download", new { file = "23.png" })" class="btn btn-primary">Descargar</a>*@
                @*<a id="downloadID" href="/Billing/Download/?File=23.png" class="btn btn-primary">Descargar</a>*@
                <a id="link-download" href="" class="btn btn-primary">Descargar</a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            $(".datepicker").datepicker();

            //$(".btn-show-picture").click(function () {
            //    var aNameFile = $(this).attr("img").split('.');
            //    if (aNameFile.length > 0 && aNameFile[(aNameFile.length - 1)] == "pdf") {
            //        $("#pdfPIC").remove();
            //        $(".modal-body").append('<embed id = "pdfPIC" src = "files/Brochure.pdf" type = "application/pdf" width = "100%" height = "600px" />');
            //        $("#pdfPIC").show();
            //        $("#pdfPIC").attr("src", $(this).attr("img"));
            //        $("#imgPic").hide();
            //    } else {
            //        $("#imgPic").show();
            //        $("#imgPic").attr("src", $(this).attr("img"));
            //        $("#pdfPIC").hide();
            //    }
            //    $(".link-download").attr("href", $(this).attr("img"));
            //    $('#modalPicture').modal('show');
            //});

            //$("#downloadbutton").click(function () {
            //    var billpath = $(this).attr("img");
            //});

            //$("#downloadbutton").click(function () {
            //    var billpath = $(this).val();
            //    var billpath2 = $(this).attr("img");
            //});

            $(".btn-show-picture").click(function () {
                var billpath = $(this).attr("img");

                $.ajax({
                    url: '@Url.Action("SearchArchive", "Billing")',
                    type: 'POST',
                    dataType: 'json',
                    data: ({ 'billpath': billpath }),
                    success: function (data) {
                        if (data.respuesta == "") {

                            if (data.base64ImageRepresentation != "") {
                                $("#imgPic").show();
                                $("#imgPic").attr("src", data.base64ImageRepresentation);
                                $("#pdfPIC").hide();
                                $("#SinArchivo").hide();
                                $("#link-download").show();
                                $("#link-download").attr("href", data.pathbill);
                            }
                            else if (data.base64StringPDF != "") {
                                $("#pdfPIC").remove();
                                $(".modal-body").append('<embed id = "pdfPIC" src = "" type = "application/pdf" width = "100%" height = "600px" />');
                                $("#pdfPIC").attr("src", data.base64StringPDF);
                                $("#imgPic").hide();
                                $("#SinArchivo").hide();
                                $("#link-download").show();
                                $("#link-download").attr("href", data.pathbill);
                            }
                        }
                        else {
                            $("#pdfPIC").hide();
                            $("#imgPic").hide();
                            $("#SinArchivo").show();
                            $("#link-download").hide();
                        }
                    },
                    error: function (error) {
                        swal('Ocurrio un error.', {
                            icon: "error",
                        });
                    }
                });

                //$(".link-download").attr("href", $(this).attr("img"));
                $('#modalPicture').modal('show');

            });

        });
    </script>
}