@model List<tblPurchasesRequests>
@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CryptsSectionsB CryptsSectionsB = new CryptsSectionsB();
}


@using (Html.BeginForm("Solicitudes", "Billing", FormMethod.Post, new { id = "CustomerCreateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
        </div>
    </div>
    <div id="SolicitudesList">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr class="tableStyleHeader">
                    <th>
                        <label style="color:white;">Clave cripta</label>
                    </th>
                    <th>
                        <label style="color:white;">Zona</label>
                    </th>
                    <th>
                        <label style="color:white;">Area</label>
                    </th>
                    <th>
                        <label style="color:white;">Fecha solicitud</label>
                    </th>
                    <th></th>
                </tr>

                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="9" style="text-align:center"><label>No se encontraron resultados</label></td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr class="tableStylerow">
                        <td>
                            @{ 
                                var vCryptSection = CryptsSectionsB.GetById(item.CryptSectionID);
                                string CryptKeyNumberAux = item.CryptKey.Substring(1, item.CryptKey.Length - 1);
                                string CryptKeyNumber = "";
                                if (Convert.ToInt32(CryptKeyNumberAux) > 9 && Convert.ToInt32(CryptKeyNumberAux) < 100)
                                {
                                    CryptKeyNumber = "0" + CryptKeyNumberAux;
                                }
                                else if (Convert.ToInt32(CryptKeyNumberAux) < 9)
                                {
                                    CryptKeyNumber = "00" + CryptKeyNumberAux;
                                }
                                item.Nicho = vCryptSection.Code + item.CryptKey[0] + CryptKeyNumber;
                                item.Nicho += item.CryptType == CryptTypes.Individual ? "-" + item.CryptPosition : "";
                            }
                            @Html.DisplayFor(modelItem => item.Nicho)
                        </td>
                        <td>
                            ZONA A
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tblCryptsSections.ClassificationName)
                        </td>
                        <td>
                            @item.CreatedDate.ToString("dd/MM/yyyy")
                        </td>
                        <td align="center">
                            <input type="hidden" name="PurchasesRequestID" value="@item.PurchasesRequestID" />
                            <input type="checkbox" class="check-box" style="width:20px; height:20px" />
                            <input type="hidden" name="Check" value="False" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="offset-md-8 col-md-2 col-sm-2 col-xs-6">
            <input type="submit" value="Guardar" class="btn btn-success" style="float:right;width:100%;" />
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            @Html.ActionLink("Facturacion", "Facturacion", null, new { @class = "btn btn-default", @style = "width:100%;" })
        </div>
    </div>

}

@section scripts {
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            $(".datepicker").datepicker();
        });
        $(".check-box").click(function () {
            if ($(this).prop("checked") == true) {
                $(this).parent().children().eq(2).attr("value", "True");
            } else {
                $(this).parent().children().eq(2).attr("value", "False");
            }
        })
    </script>
}