@model tblServices

@{
    ViewBag.Title = "Nuevo servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Services", FormMethod.Post, new { id = "ServicesCreateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(a => a.Name)
            @Html.EditorFor(a => a.Name)
        </div>
    </div>


    <div class="row" style="padding-top:15px;">
        <div class="col-md-2 col-sm-2 col-xs-6">
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary", @style = "width:100%;" })
        </div>
        <div class="offset-md-8 col-md-2 col-sm-2 col-xs-6">
            <input type="submit" value="Guardar" class="btn btn-default" style="float:right;width:100%;" />
        </div>
    </div>


}