@model StaticPagedList<dtoCrypts>
<div id="CryptsList">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr class="tableStyleHeader">
                <th>
                    @Html.ActionLink("Nombre", "Index", new { Sorting_Order = ViewBag.SortingName, Name = ViewBag.Name, Price = ViewBag.Price, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Price", "Index", new { Sorting_Order = ViewBag.SortingPrice, Name = ViewBag.Name, Price = ViewBag.Price, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Fecha de creación", "Index", new { Sorting_Order = ViewBag.SortingDate, Name = ViewBag.Name, Price = ViewBag.Price, Date = ViewBag.Date })
                </th>
                <th></th>
            </tr>
            <tr class="tableStylerow">
                <td>
                    <input type="search" name="Name" class="form-control" data-autocomple="@Url.Action("acName")" placeholder="Nombre" value="@ViewBag.Name" />
                </td>
                <td>
                    <input type="search" name="Price" class="form-control only-numeric" placeholder="Precio" value="@ViewBag.Price" />
                </td>
                <td>
                    <input type="search" name="Date" class="form-control datepicker" placeholder="Fecha de creación" value="@ViewBag.Date" />
                </td>
                <td align="center">
                    @Html.ActionLink("Limpiar", "Index", new { iCleanFilter = 1 }, htmlAttributes: new { @class = "btn btn-primary btn-large btn-clean" })
                    <input id="btnSearch" class="btn btn-success btn-large btn-clean" type="submit" value="Buscar" />
                </td>

            </tr>

            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="9"><label>No se encontraron resultados</label></td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr class="tableStylerow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @item.CreatedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td align="center">
                        @Html.ActionLink("Ver Registro", "Details", new { id = item.CryptID }, new { @class = "" })
                    </td>
                </tr>
            }
            <tr class="tableStyleHeader">
                <td colspan="9">
                    <div id="pagedList" class="pagedList" data-otf-target="#CryptsList">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Sorting_Order = ViewBag.Sorting_Order, Name = ViewBag.Name, Price = ViewBag.Price, Date = ViewBag.Date }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "CryptsList" }))
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    $(".only-numeric").keydown(function (event) {
        if (event.shiftKey) {
            event.preventDefault();
        }

        if ($(this).val().indexOf('.') != -1 && (event.keyCode == 190 || event.keyCode == 110)) {
            event.preventDefault();
        }

        if ((event.keyCode == 190 || event.keyCode == 110) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 16 || (event.keyCode >= 37 && event.keyCode <= 40)) {
        }
        else {
            if (event.keyCode < 95) {
                if (event.keyCode < 48 || event.keyCode > 57) {
                    event.preventDefault();
                }
            }
            else {
                if (event.keyCode < 96 || event.keyCode > 105) {
                    event.preventDefault();
                }
            }
        }
    });
</script>