@model tblPurchasesRequests

@{
    decimal TotalToPay = 0.00M;
}

<hr />

<div style="margin-top:20px">

    <h2>Detalles de la cripta</h2>

</div>

<div style="margin-top: 40px">

    <p><b>Cliente:</b> @Model.Customer</p>

    <p><b>Clave de la cripta:</b> @Model.Nicho</p>

    <p><b>Nivel</b>: @Model.Level</p>

    <p><b>Area</b>: @Model.ClassificationName</p>

    <div>
        <span style="display: inline-block;"><b>Zona</b>: @Model.Name</span>
        <span style="float: right;"><b>Tipo de Cambio</b>: $@Model.Rate MXN.</span>
    </div>

</div>

<div class="card-header card-header-green" style="margin-top:25px">

    <div class="row">

        <div class="col-md-10" style="color:white; font-size:17px">

            <b>Fechas de aniversario luctuoso</b>

        </div>

    </div>

</div>

<div>

    @if (Model.lstAshDeposits != null && Model.lstAshDeposits.Count > 0)
    {
        foreach (tblAshDeposits ash_deposit in Model.lstAshDeposits)
        {
            <p style="padding-top:15px; padding-left:10px; padding-right:10px"><b>@(ash_deposit.DeathDateFormat + " - " + ash_deposit.FullName)</b></p>

            <hr />
        }
    }
    else
    {
        <p style="padding-top:15px; padding-left:10px; padding-right:10px"><b>No cuenta con aniversarios luctuosos</b></p>

        <hr />
    }

</div>

<div style="margin-top:40px">

    <p><b>Tipo de pago:</b> @Model.PaymentMethodName</p>

    @if (Model.Currency)
    {
        <p><b>Costo total:</b> @Model.CryptPrice.ToString("C2") MXN</p>
    }
    else
    {
        <p><b>Costo total:</b> @Model.CryptPrice.ToString("C2") USD</p>

    }


</div>

<div class="card-header card-header-green" style="margin-top:40px">

    <div class="row">

        <div class="col-md-10" style="color:white; font-size:17px">

            <b>Pagos</b>

        </div>

    </div>

</div>

<div style="max-height:500px; overflow-y:auto">

    @if (Model.lstPayments != null && Model.lstPayments.Count > 0)
    {
        foreach (tblPurchaseRequestPayments payment in Model.lstPayments)
        {
            string payment_name = "Pago # " + payment.NumPayment + (payment.IsOverduePayment ? " (Intereses)" : "");

            <div class="card">

                <div class="row" style="margin:5px; margin-top:10px; margin-bottom:10px; padding:10px">

                    <div class="col-md-4">

                        <p><b>Pago # @payment.NumPayment</b></p>

                        <p><b>@payment.PaymentDateFormat</b></p>

                        @if (payment.IsOverduePayment)
                        {
                            <p><b>Intereses</b></p>
                        }

                        @if (payment.Estatus != PaymentEstatus.Paid)
                        {
                            TotalToPay += payment.Amount;
                        }

                    </div>

                    <div class="col-md-4">

                        @if (Model.Currency)
                        {
                            <p style="text-align:right"><b>@payment.Amount.ToString("C2") MXN</b></p>

                        }
                        else
                        {
                            <p style="text-align:right"><b>@payment.Amount.ToString("C2") USD</b></p>
                        }

                        <p style="float:right; background-color: @payment.EstatusColor; color: white; padding: 5px; width: 100px; text-align: center; border-radius: 5px"><b>@payment.EstatusName</b></p>

                    </div>

                    <div class="col-md-4">

                        @if (payment.ShowReceipt)
                        {
                            if (!string.IsNullOrEmpty(payment.ReceiptUrl))
                            {
                                string download_url = payment.ReceiptUrl;

                                if (download_url.Contains("http:"))
                                {
                                    download_url = download_url.Replace("http:", "https:");
                                }

                                <a href="@download_url" download target="_blank" style="cursor:pointer; margin-top:40px; float: right; background-color: #8080FF; color: white; padding: 5px; width: 150px; text-align: center; border-radius: 5px; text-decoration: none;"><b>Ver recibo</b></a>
                            }
                        }
                        else if (payment.CanUploadFile)
                        {
                            <input type="file" class="form-control upload_file" accept="image/png, image/jpeg">

                            <p class="save_payment" style="cursor:pointer; margin-top:15px; float: right; background-color: #008000; color: white; padding: 5px; width: 150px; text-align: center; border-radius: 5px" onclick="open_save_payment(this, '@payment_name', @payment.PurchaseRequestPaymentID, @payment.Amount, '@(payment.IsOverduePayment ? "true" : "false")')"><b>Subir ticket</b></p>
                        }

                    </div>

                </div>

            </div>
        }
    }

</div>

<div class="card-header card-header-green" style="margin-top:40px">

    <div class="row">

        <div class="col-md-12" style="color:white; font-size:17px; text-align:right">

            <b>Total de la deuda: @TotalToPay.ToString("C2")</b>

        </div>

    </div>

</div>