
@{
    ViewBag.Title = "Pagos criptas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header card-header-green">

        <div class="row">

            <div class="col-md-10">
                <h2>@ViewBag.Title</h2>
            </div>

        </div>

    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">

                    <label>Cliente</label>

                    <input type="text" id="CustomerName" name="CustomerName" class="form-control" placeholder="Cliente" value="" />

                    <input type="hidden" id="CustomerID" value="0" />

                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">

                    <label>Cripa</label>

                    <select class="form-control" id="PurchasesRequestID" name="PurchasesRequestID">
                        <option value="">Seleccione una cripta</option>
                    </select>

                </div>

            </div>

        </div>

        <div class="row" style="margin-top:10px">

            <div class="col-md-3 offset-9">

                <div class="form-group" style="text-align:right">

                    <input id="btn_Search" type="button" class="btn btn-success btn-large btn-clean" value="Buscar" />

                </div>

            </div>

        </div>

        <div id="Crypt_Info">

        </div>

    </div>

</div>

<div class="modal fade" id="modal_save_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title" style="color: #FFF;" id="myModalLabel">Notificación</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body" id="save_payment_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button id="btn_save_payment" type="button" class="btn btn-success">Si</button>

            </div>

        </div>

    </div>

</div>

@section scripts {
    <script type="text/javascript">

        $('#CustomerName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/ProspectiveCustomer/acCustomers")',
                    dataType: "json",
                    data: { term: $('#CustomerName').val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.value,
                                value: item.value,
                                id: item.CustomerID
                            }
                        }));
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            },
            select: function (event, ui) {
                if (ui.item.id === "") {
                    $('#CustomerID').val("");

                    $("#PurchasesRequestID").empty();

                    $("#PurchasesRequestID").append($('<option>', { value: "", text: 'Seleccione una cripta' }));
                }
                else {
                    $('#CustomerID').val(ui.item.id);

                    $.ajax({
                        url: "@Url.Action("Ajax_Get_Crypts_By_CustomerID", "Crypts")",
                        type: "GET",
                        dataType: "json",
                        data: { CustomerID: ui.item.id },
                        contentType: 'application/json; charset=utf-8',
                        success: function (crypts) {
                            $("#PurchasesRequestID").empty();

                            $("#PurchasesRequestID").append($('<option>', { value: "", text: 'Seleccione una cripta' }));

                            $.each(crypts, function (index, cript) {
                                $('#PurchasesRequestID').append($('<option>', { value: cript.PurchasesRequestID, text: cript.Nicho }));
                            })
                        },
                        error: function (error) {
                            alert("Ocurrió un error al obtener listado de criptas");
                        }
                    });
                }
            },
            change: function (event, ui) {
                if (!ui.item) {
                    $('#CustomerID').val("");

                    $("#PurchasesRequestID").empty();

                    $("#PurchasesRequestID").append($('<option>', { value: "", text: 'Seleccione una cripta' }));
                }
            }
        });

        $(document).on('click', '#btn_Search', function () {
            var CustomerID = $("#CustomerID").val();
            var PurchasesRequestID = $("#PurchasesRequestID").val();

            var search = true;
            var error_message = "";

            if (CustomerID == null || CustomerID == "" || CustomerID == undefined || CustomerID == "0" || CustomerID == 0) {
                search = false;
                error_message = "Debe de seleccionar a un cliente";
            }
            else {
                if (PurchasesRequestID == null || PurchasesRequestID == "" || PurchasesRequestID == undefined || PurchasesRequestID == "0" || PurchasesRequestID == 0) {
                    search = false;
                    error_message = "Debe de seleccionar una cripta";
                }
            }

            if (search) {
                search_crypt_details(PurchasesRequestID);
            }
            else {
                alert(error_message);
            }
        });

        function search_crypt_details(PurchasesRequestID) {
            $("#btn_Search").prop("disabled", true);

            $("#Crypt_Info").html('');
            $("#Crypt_Info").html('<p style="text-align:center">Buscando...</p>');

            $.ajax({
                url: "@Url.Action("Ajax_Get_CryptDetails", "Crypts")",
                datatType: "json",
                data: { PurchasesRequestID: PurchasesRequestID },
                contentType: 'application/json; charset=utf-8',
                global: true,
                success: function (data) {
                    $("#Crypt_Info").html('');

                    if (data.html != null && data.html != "" && data.html != undefined) {
                        $("#Crypt_Info").html(data.html);

                        $("#btn_Search").prop("disabled", false);
                    }
                    else {
                        alert("No se pudo obtener los detalles de la cripta");

                        $("#btn_Search").prop("disabled", false);
                    }
                },
                error: function (error) {
                    $("#Crypt_Info").html('');

                    alert("Ocurrió un error al buscar los detalles de la cripta");

                    $("#btn_Search").prop("disabled", false);
                }
            });
        }

        var save_payment_file;
        var PurchaseRequestPaymentID = 0;
        var Amount = 0;
        var IsInterest = false;

        function open_save_payment(btn, payment_name, id, amount, is_interest) {
            save_payment_file = null;
            PurchaseRequestPaymentID = 0;
            Amount = 0;
            IsInterest = false;

            if (btn != undefined) {
                var file = $(btn).parent().find(".upload_file");

                if (file != undefined) {
                    if ($(file)[0].files.length > 0) {
                        var correct_file = false;

                        if ($(file)[0].files[0].name.substring($(file)[0].files[0].name.lastIndexOf('.') + 1).toLowerCase() == "jpg" ||
                        $(file)[0].files[0].name.substring($(file)[0].files[0].name.lastIndexOf('.') + 1).toLowerCase() == "jpeg" ||
                        $(file)[0].files[0].name.substring($(file)[0].files[0].name.lastIndexOf('.') + 1).toLowerCase() == "png") {
                            correct_file = true;
                        }

                        if (correct_file) {
                            save_payment_file = file;
                            PurchaseRequestPaymentID = id;
                            Amount = amount;
                            IsInterest = is_interest;

                            $("#save_payment_body").html("");

                            $("#save_payment_body").html("<p>¿Seguro de subir el archivo <b>" + $(file)[0].files[0].name + "</b> para el pago <b>" +
                            payment_name + "</b>?</p>");

                            $('#modal_save_payment').modal({ backdrop: 'static', keyboard: false })
                        }
                        else {
                            alert("Solo subir imagenes con extensión jpg, jpeg y/o png");
                        }
                    }
                    else {
                        alert("No hay ticket a subir");
                    }
                }
                else {
                    alert("No se encontró ticket a subir");
                }
            }
            else {
                alert("Ocurrió un error");
            }
        }

        @*$('#btn_save_payment').click(function () {
            if (save_payment_file != undefined) {
                if ($(save_payment_file)[0].files.length > 0) {
                    $("#btn_save_payment").prop("disabled", true);

                    var model = new FormData();

                    model.append("File", $(save_payment_file)[0].files[0]);
                    model.append("PurchaseRequestPaymentID", PurchaseRequestPaymentID);
                    model.append("Amount", Amount);
                    model.append("IsInterest", IsInterest);


                    $.ajax({
                        url: "@Url.Action("UploadFile", "Crypts")",
                        type: "POST",
                        data: model,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            $("#btn_save_payment").prop("disabled", false);

                            if (result.error_message != null && result.error_message != "" && result.error_message != undefined) {
                                alert(result.error_message);
                            }
                            else {
                                $('#modal_save_payment').modal('hide');

                                var PurchasesRequestID = $("#PurchasesRequestID").val();

                                if (PurchasesRequestID != null && PurchasesRequestID != "" && PurchasesRequestID != undefined ||
                                PurchasesRequestID != "0" && PurchasesRequestID != 0) {
                                    $("#Crypt_Info").html('');
                                    $("#Crypt_Info").html('<p style="text-align:center">Cargando...</p>');

                                    search_crypt_details(PurchasesRequestID);
                                }
                                else {
                                    $("#Crypt_Info").html('');
                                    $("#Crypt_Info").html('<p style="text-align:center">Seleccione una cripta</p>');
                                }
                            }
                        },
                        error: function (error) {
                            alert("Ocurrió un error al querer guardar el pago");

                            $("#btn_save_payment").prop("disabled", false);
                        }
                    });
                }
                else
                {
                    alert("No hay ticket a subir");
                }
            }
            else {
                alert("No se encontró ticket a subir");
            }
        });*@

        $('#btn_save_payment').click(function () {
            if (save_payment_file != undefined) {
                if ($(save_payment_file)[0].files.length > 0) {
                    $("#btn_save_payment").prop("disabled", true);

                    var model = new FormData();

                    model.append("File", $(save_payment_file)[0].files[0]);
                    model.append("PurchaseRequestPaymentID", PurchaseRequestPaymentID);
                    model.append("Amount", Amount);
                    model.append("IsInterest", IsInterest);


                    $.ajax({
                        url: "@Url.Action("Ajax_Save_Payments", "Crypts")",
                        type: "POST",
                        data: model,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            $("#btn_save_payment").prop("disabled", false);

                            if (result.error_message != null && result.error_message != "" && result.error_message != undefined) {
                                alert(result.error_message);
                            }
                            else {
                                $('#modal_save_payment').modal('hide');

                                var PurchasesRequestID = $("#PurchasesRequestID").val();

                                if (PurchasesRequestID != null && PurchasesRequestID != "" && PurchasesRequestID != undefined ||
                                PurchasesRequestID != "0" && PurchasesRequestID != 0) {
                                    $("#Crypt_Info").html('');
                                    $("#Crypt_Info").html('<p style="text-align:center">Cargando...</p>');

                                    search_crypt_details(PurchasesRequestID);
                                }
                                else {
                                    $("#Crypt_Info").html('');
                                    $("#Crypt_Info").html('<p style="text-align:center">Seleccione una cripta</p>');
                                }
                            }
                        },
                        error: function (error) {
                            alert("Ocurrió un error al querer guardar el pago");

                            $("#btn_save_payment").prop("disabled", false);
                        }
                    });
                }
                else
                {
                    alert("No hay ticket a subir");
                }
            }
            else {
                alert("No se encontró ticket a subir");
            }
        });

    </script>
}