@model StaticPagedList<dtoUsers>
<div id="UsersList">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr class="tableStyleHeader">
                <th>
                    @Html.ActionLink("Usuario", "Index", new { Sorting_Order = ViewBag.SortingUserName, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Nombre", "Index", new { Sorting_Order = ViewBag.SortingName, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Apellido", "Index", new { Sorting_Order = ViewBag.SortingPSurname, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Rol", "Index", new { Sorting_Order = ViewBag.SortingRol, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID, Date = ViewBag.Date })
                </th>
                <th>
                    @Html.ActionLink("Fecha de creación", "Index", new { Sorting_Order = ViewBag.SortingDate, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID, Date = ViewBag.Date })
                </th>
                <th></th>
            </tr>
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="9"><label>No se encontraron resultados</label></td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr class="tableStylerow">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol)
                    </td>
                    <td>
                        @item.CreatedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Details", new { id = item.UserID })" data-toggle="tooltip" data-placement="top" title="Ver detalles" class="btn btn-icon btn-secondary">
                            <i class="mdi mdi-file-document-multiple-outline"></i>
                        </a>
                    </td>
                </tr>
            }
            <tr class="tableStyleHeader">
                <td colspan="9">
                    <div id="pagedList" class="pagedList" data-otf-target="#UsersList">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Sorting_Order = ViewBag.Sorting_Order, Username = ViewBag.Username, Name = ViewBag.Name, PSurname = ViewBag.PSurname, RolID = ViewBag.RolID }),  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "UsersList" }))
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>