

@{
    ViewBag.Title = "Administracion de criptas";

    
}

<h2>@ViewBag.Title</h2>

@Html.Partial("~/Views/Crypts/_CryptMaps.cshtml")

<div class="modal fade" id="modalCryptType" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seleccionar tipo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Urna: <span id="sSelectedUrnaModal"></span></h5>
                    </div>

                    <div class="col-md-12">
                        <label>Tipo:</label>
                        @{
                            var CryptType = new CryptTypes();
                        }
                        @Html.EnumDropDownListFor(m => CryptType, "Seleccionar opción", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnAcceptContinue">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    var vImgSelectedUrna = "@Url.Content("~/Content/Images/cuadro-selected.png")";
    var vImgUrna = "@Url.Content("~/Content/Images/cuadro.png")";
    var vSelectedCripta = "";
        $(function () {
            ResizeTables();
            var vMessage = "@TempData["Message"]";
            if (vMessage.length > 0) {
                MyAlert('Notificación', vMessage, '@TempData["Class"]');
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                //e.target // newly activated tab
                //e.relatedTarget // previous active tab
                var vId = $(this).prop('id');
                if (vId == 'nav-area-tab')
                    ResizeTables();
            })

            $('#tableNichos').hide();
            $("a[href^='btn-section']").each(function (index, element) {
                var $aImg = $(element).find('img');
                $aImg.tooltip();
            })


            $("a[href^='btn-section']").click(function (event) {
                event.preventDefault();
                var vHref = $(this).prop('href');
                var vSeccion = vHref.substr(vHref.length - 1)
                if (vSeccion == "a") {
                    $('#tableNichos').show();
                    $('#tableSections').hide();
                    $('#nav-area-tab').tab('show');
                } else {
                    MyAlert('Notificación', 'Sección no disponible por el momento.', 'warning');
                }
            })

            $("a[href^='id_']").click(function (event) {
                event.preventDefault();
                var vHref = $(this).prop('href').split('_');

                vCryptSectionId = vHref[1]; //vHref.substr(vHref.length - 1);


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCryptSectionById", "Crypts")',
                    dataType: "html",
                    data: {
                        'iId': vCryptSectionId,
                        'sAction': "Manage"
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#CryptSection').html(data);
                        vSelectedCripta = "";
                        $('#nav-criptas-tab').tab('show');
                        $("html, body").animate({ scrollTop: $('#CryptSection').offset().top - 20 }, 1000);
                    },
                    error: function () {
                        MyAlert('Notificación', 'Ocurrio un error.', 'error');
                    }
                });
            })

            $('#btnAcceptContinue').click(function () {
                var vCryptType = $('#CryptType').val();
                if (vCryptType <= 0) {
                    MyAlert('Notificación', 'Seleccione el tipo para poder guardar.', 'warning');
                    return;
                }
                $('#btnAcceptContinue, #btnCancel').prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Manage")',
                    dataType: "json",
                    data: {
                        'CryptSectionID': vCryptSectionId,
                        'CryptKey': vSelectedCripta,
                        'Type': vCryptType
                    },
                    success: function (data) {

                        Swal.fire({
                            title: "Notificación",
                            text: data.Message,
                            icon: data.Class,
                            confirmButtonText: 'Aceptar'
                        }).then(function () {
                            if (data.Class == "success")
                            {
                                $('#span' + vSelectedCripta).text(data.TypeName);
                                vSelectedCripta = "";
                                vCryptSectionId = "";
                                $('#modalCryptType').modal('hide');
                            }

                            $('#btnAcceptContinue, #btnCancel').prop('disabled', false);
                        })
                    },
                    error: function () {
                        MyAlert('Notificación', 'Ocurrio un error.', 'error');
                        $('#btnAcceptContinue, #btnCancel').prop('disabled', false);
                    }
                });
            })
        })

        $(document).on('click', '.select-urna', function () {
            //if ($(this).hasClass('disabled')) {
            //    MyAlert('Notificación', 'La cripta seleccionada no esta disponible.', 'warning');
            //    return;
            //}

            if ($(this).hasClass('selected')) {
                return;
            }
            $('img.select-urna:not(.disabled)').each(function (index, element) {
                $(element).attr('src', vImgUrna);
            })
            $(this).attr('src', vImgSelectedUrna);
            vSelectedCripta = $(this).data('position');
            var vType = $(this).data('type');
            $('#sSelectedUrnaModal').text(vSelectedCripta);
            $('#CryptType').val(vType);
            $('#modalCryptType').modal('show');
        })
</script>
}