@using Church.Business;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Church</title>

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="@Url.Content("~/Scripts/jquery-3.6.0.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-nav">

            <nav class="navbar navbar-expand-lg navbar-light bg-faded" style=" border-bottom: 1px #d5e9ff solid;">

                <div style="margin-right:15px; color:#fff">

                    <a class="@Html.ActiveAction("Inicio","Index")" href="@Url.Action("Index", "Home")" style="margin-right:15px; color:white">
                        <img src="@Url.Content("~/Content/Images/LogoParroquia.png")" height="70" width="auto" />
                    </a>

                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div id="navbarNavDropdown" class="navbar-collapse collapse">

                    <ul class="navbar-nav mr-auto">

                        @if (Request.IsAuthenticated && !User.IsInRole("Facturacion") && !User.IsInRole("Ventas") && !User.IsInRole("Encargado"))
                        {
                            <li class="@Html.ActiveAction("Crypts","Solicitud")" style="margin-right:15px; color:white">@Html.ActionLink("Solicitud", "Solicitud", "Crypts")</li>

                            <li class="@Html.ActiveAction("Billing","Solicitudes")" style="margin-right:15px; color:white">@Html.ActionLink("Solicitudes (" + (int)ViewBag.PurchasesPendings + ")", "Solicitudes", "Billing")</li>

                            <li class="@Html.ActiveAction("Payments","Pagos")" style="margin-right:15px; color:white">@Html.ActionLink("Pagos (" + (int)ViewBag.PaymentsPendings + ")", "Validate", "Payments")</li>

                            <li class="dropdown csDropdown">

                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Documentos<span class="caret"></span></a>

                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">
                                    <li class="@Html.ActiveAction("NoticePrivacy","Index")" style="margin-left: 7%;">@Html.ActionLink("Aviso de privacidad", "Index", "NoticePrivacy", null, new { @class = "submenu" })</li>
                                    <li class="@Html.ActiveAction("Regulation","Index")" style="margin-left: 7%;">@Html.ActionLink("Reglamento del columbario", "Index", "Regulation", null, new { @class = "submenu" })</li>
                                </ul>

                            </li>
                        }

                        @if (User.IsInRole("Caja"))
                        {
                            <li class="dropdown csDropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Catálogos<span class="caret"></span></a>
                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">
                                    <li class="@Html.ActiveAction("Aniversario luctuoso","Index")" style="margin-left:7%;">@Html.ActionLink("Aniversario luctuoso", "Index", "Anniversary", null, new { @class = "submenu" })</li>
                                    <li class="@Html.ActiveAction("Intenciones","Index")" style="margin-left:7%;">@Html.ActionLink("Intenciones", "Index", "Intentions", null, new { @class = "submenu" })</li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="dropdown csDropdown">

                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Catálogos<span class="caret"></span></a>

                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">

                                    <li class="@Html.ActiveAction("Aniversario luctuoso","Index")" style="margin-left:7%;">@Html.ActionLink("Aniversario luctuoso", "Index", "Anniversary", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Catedral","Index")" style="margin-left:7%;">@Html.ActionLink("Catedral", "Index", "Cathedrals", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Ciudad","Index")" style="margin-left:7%;">@Html.ActionLink("Ciudad", "Index", "Towns", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Clientes","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes", "Index", "Customers", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Clientes prospectos","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes prospectos", "Index", "ProspectiveCustomer", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("CryptType","Manage")" style="margin-left:7%;">@Html.ActionLink("Criptas", "Manage", "CryptType", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Comisionistas","Index")" style="margin-left:7%;">@Html.ActionLink("Comisionistas", "Index", "CommissionAgents", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Cuota de mantenimiento","Index")" style="margin-left:7%;">@Html.ActionLink("Cuota de mantenimiento", "Edit", "MaintenanceFee", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Descuentos","Index")" style="margin-left:7%;">@Html.ActionLink("Descuentos", "Index", "Discounts", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Descuento contado","Index")" style="margin-left:7%;">@Html.ActionLink("Descuento contado", "Edit", "CountedDiscount", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Estado Civil","Index")" style="margin-left:7%;">@Html.ActionLink("Estado Civil", "Index", "CivilStatus", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Estados","Index")" style="margin-left:7%;">@Html.ActionLink("Estados", "Index", "States", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Horarios misa","Details")" style="margin-left:7%;">@Html.ActionLink("Horarios misa", "Details", "Schedule", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Impuesto Federal","Index")" style="margin-left:7%;">@Html.ActionLink("Impuesto Federal", "Edit", "FederalTax", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Intenciones","Index")" style="margin-left:7%;">@Html.ActionLink("Intenciones", "Index", "Intentions", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Notificaciones","Index")" style="margin-left:7%;">@Html.ActionLink("Notificaciones", "Index", "PushNotificationsMessages", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Tipo de cambio","Index")" style="margin-left:7%;">@Html.ActionLink("Tipo de cambio", "Edit", "ExchangeRates", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Usuarios","Index")" style="margin-left:7%;">@Html.ActionLink("Usuarios", "Index", "Users", null, new { @class = "submenu" })</li>

                                </ul>

                            </li>

                            <li class="@Html.ActiveAction("Crypts","CryptPayments")" style="margin-right:15px; color:white">@Html.ActionLink("Pagos criptas", "CryptPayments", "Crypts")</li>
                        }

                        @if (User.IsInRole("Facturacion"))
                        {
                            <li class="@Html.ActiveAction("Billing","Solicitudes")" style="margin-right:15px; color:white">@Html.ActionLink("Solicitudes (" + (int)ViewBag.PurchasesPendings + ")", "Solicitudes", "Billing")</li>

                            <li class="dropdown csDropdown">

                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Catálogos<span class="caret"></span></a>

                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">
                                    <li class="@Html.ActiveAction("Clientes","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes", "Index", "Customers", null, new { @class = "submenu" })</li>
                                    <li class="@Html.ActiveAction("Cuota de mantenimiento","Index")" style="margin-left:7%;">@Html.ActionLink("Cuota de mantenimiento", "Edit", "MaintenanceFee", null, new { @class = "submenu" })</li>
                                </ul>

                            </li>
                        }

                        @if (User.IsInRole("Ventas"))
                        {
                            <li class="@Html.ActiveAction("Crypts","Solicitud")" style="margin-right:15px; color:white">@Html.ActionLink("Solicitud de cripta", "Solicitud", "Crypts")</li>

                            <li class="dropdown csDropdown">

                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Catálogos<span class="caret"></span></a>

                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">
                                    <li class="@Html.ActiveAction("Clientes","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes", "Index", "Customers", null, new { @class = "submenu" })</li>
                                    <li class="@Html.ActiveAction("Clientes prospectos","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes prospectos", "Index", "ProspectiveCustomer", null, new { @class = "submenu" })</li>
                                </ul>

                            </li>
                        }

                        @if (User.IsInRole("Encargado"))
                        {

                            <li class="@Html.ActiveAction("Crypts","Solicitud")" style="margin-right:15px; color:white">@Html.ActionLink("Solicitud de cripta", "Solicitud", "Crypts")</li>

                            <li class="dropdown csDropdown">

                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-right:15px">Catálogos<span class="caret"></span></a>

                                <ul class="dropdown-menu csWidth100" id="Users" style="color:black">

                                    <li class="@Html.ActiveAction("Aniversario luctuoso","Index")" style="margin-left:7%;">@Html.ActionLink("Aniversario luctuoso", "Index", "Anniversary", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Catedral","Index")" style="margin-left:7%;">@Html.ActionLink("Catedral", "Index", "Cathedrals", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Ciudad","Index")" style="margin-left:7%;">@Html.ActionLink("Ciudad", "Index", "Towns", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Clientes","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes", "Index", "Customers", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Clientes prospectos","Index")" style="margin-left:7%;">@Html.ActionLink("Clientes prospectos", "Index", "ProspectiveCustomer", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("CryptType","Manage")" style="margin-left:7%;">@Html.ActionLink("Criptas", "Manage", "CryptType", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Comisionistas","Index")" style="margin-left:7%;">@Html.ActionLink("Comisionistas", "Index", "CommissionAgents", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Cuota de mantenimiento","Index")" style="margin-left:7%;">@Html.ActionLink("Cuota de mantenimiento", "Edit", "MaintenanceFee", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Descuentos","Index")" style="margin-left:7%;">@Html.ActionLink("Descuentos", "Index", "Discounts", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Estado Civil","Index")" style="margin-left:7%;">@Html.ActionLink("Estado Civil", "Index", "CivilStatus", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Estados","Index")" style="margin-left:7%;">@Html.ActionLink("Estados", "Index", "States", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Impuesto Federal","Index")" style="margin-left:7%;">@Html.ActionLink("Impuesto Federal", "Edit", "FederalTax", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Tipo de cambio","Index")" style="margin-left:7%;">@Html.ActionLink("Tipo de cambio", "Edit", "ExchangeRates", null, new { @class = "submenu" })</li>

                                    <li class="@Html.ActiveAction("Usuarios","Index")" style="margin-left:7%;">@Html.ActionLink("Usuarios", "Index", "Users", null, new { @class = "submenu" })</li>

                                </ul>

                            </li>
                        }

                    </ul>

                    <ul class="navbar-nav">

                        @Html.Partial("_LoginPartial")

                    </ul>

                </div>

            </nav>

        </div>
    }

    <div class="container body-content">
        @RenderBody()

    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <footer>
            <p>&copy; @DateTime.Now.Year - Catedral Tijuana</p>
        </footer>
    }

    @Scripts.Render("~/bundles/jquery")

    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>