@model StaticPagedList<dtoCustomers>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm(
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "CustomersList"
                    }))
{
<div class="card">
    <div class="card-header card-header-green">
        <div class="row">
            <div class="col-md-10">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="search" name="Name" class="form-control" data-autocomple="@Url.Action("acName")" placeholder="Nombre" value="@ViewBag.Name" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input type="search" name="PSurname" class="form-control" data-autocomple="@Url.Action("acPSurname")" placeholder="Apellido Paterno" value="@ViewBag.PSurname" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="search" name="Email" class="form-control" data-autocomple="@Url.Action("acEmail")" placeholder="Email" value="@ViewBag.Email" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Fecha de creación</label>
                    <input type="search" name="Date" class="form-control datepicker" placeholder="Fecha de creación" value="@ViewBag.Date" />
                </div>
            </div>
            <div class="col-md-3 offset-9">
                <label>&ensp;</label>
                <div class="form-group" style="text-align:right">
                    @Html.ActionLink("Limpiar", "Index", new { iCleanFilter = 1 }, htmlAttributes: new { @class = "btn btn-primary btn-large btn-clean" })
                    <input id="btnSearch" class="btn btn-success btn-large btn-clean" type="submit" value="Buscar" />
                </div>
            </div>
        </div>
        @Html.Partial("_Customers", Model)
    </div>
</div>
            }

            @section scripts {
                <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $.datepicker.setDefaults($.datepicker.regional['es-MX']);
                        $(".datepicker").datepicker();
                    });
                </script>
            }
