@model tblPushNotificationsMessages

@{
    ViewBag.Title = "Nueva notificación";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HelpMethods HM = new HelpMethods();

}

@using (Html.BeginForm("Create", "PushNotificationsMessages", FormMethod.Post, new { id = "CreateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header card-header-green">
            <h2>
                @ViewBag.Title
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Message, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:15px;">
            <div class="col-md-2 col-sm-2 col-xs-6">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary", @style = "width:100%;" })
            </div>
            <div class="offset-md-8 col-md-2 col-sm-2 col-xs-6">
                <input type="submit" value="Guardar" class="btn btn-success" style="float:right;width:100%;" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Draft)
    @Html.HiddenFor(model => model.Active)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.UpdatedDate)
    @Html.HiddenFor(model => model.UpdatedBy)
    @Html.HiddenFor(model => model.DeletedDate)
    @Html.HiddenFor(model => model.DeletedDate)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">

    </script>
}
